.welcome-bar {
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: fangzheng;
  margin-top: 150px;

  h1 {
    display: block;
    white-space: normal;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
  }
}
