.navbar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  // background-image:url('../../assets/images/index_bg.jpg');
  background: transparent;
  position: fixed;
}
