.about{
  padding-top: 15%;
  width: 100%;
  font-size: 1rem;

  img{
    width: 15rem;
    padding: .5rem;
  }

  .about-tit{
    white-space: nowrap;
  }

  .about-item-l {
    width: 60%;
    position: relative;
    margin: 0 auto 3rem;
    box-shadow: 0 0 52px -7px rgba(0,0,0,.5);
    padding: 5% 0;

    .about-left{
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: 10%;
      width: 40%;

      .about-info{
        text-align: left;
      }
    }

    .about-right{
      position: relative;
      display: inline-flex;
      justify-content: center;
      width: 40%;

      .about-box{
        box-shadow: 0 0 52px -7px rgba(0,0,0,.5);

        .about-info{
          font-size: 1rem;
          text-align: center;
        }
      }


    }

  }

  .about-item-r {
    width: 60%;
    position: relative;
    margin: 0 auto 3rem;
    box-shadow: 0 0 52px -7px rgba(0,0,0,.5);
    padding: 5% 0;

    .about-left{
      position: relative;
      display: inline-flex;
      justify-content: center;
      margin-right: 10%;
      width: 40%;

      .about-box{
        box-shadow: 0 0 52px -7px rgba(0,0,0,.5);

        .about-info{
          font-size: 1rem;
        }
      }

    }

    .about-right{
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 40%;

      .about-info{
        text-align: left;
      }
    }

  }

}
